{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome, {{ session['username'] }}!</h1>
        {% if user.role == 'student' %}
            <h2>Your Details</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Roll No</th>
                        <td>{{ user.roll_no }}</td>
                    </tr>
                    <tr>
                        <th>Course</th>
                        <td>{{ user.course }}</td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td>{{ user.department }}</td>
                    </tr>
                    <tr>
                        <th>Year</th>
                        <td>{{ user.year }}</td>
                    </tr>
                    <tr>
                        <th>Birth Date</th>
                        <td>{{ user.birth_date }}</td>
                    </tr>
                    
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}